#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card {

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid red;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:  rgba(255, 255, 255, 0.87);
  margin: 10px;

  /*
  //has 4/3 ratio
  */
  width: 500px;
}

.name {
 
  position: relative;
  top: 55%;
  text-align: left;

}

.description {
  font-size: normal;
  position: relative;
  top: 45%;
  text-align: left;
  font-weight: normal;

}

.edit, .moreInfo, .delete{

  position: relative;
  top: 60%;
  right: 45%;
  font-size: large;
  margin: 5px;
  display: inline;
  width: 30px;
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  cursor: pointer;
}

